h3,
h4 {
    margin-bottom: 0;
}

.fondo {
    min-width: 100%;
    height: 100%;
    background-color: #1d0d8c;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 5rem;
    letter-spacing: 2rem;
    padding-right: 3rem;
    color: rgba(255, 255, 255, 0.2);
}

.font-tahoma {
    font-family: 'Tahoma Bold', Geneva, Verdana, sans-serif
}

.text-shadow {
    text-shadow: -3px 0px black;
}

.text-primario {
    color: #1d0d8c
}

.bg-primario {
    background-color: #1d0d8c;
}

.secundario {
    color: #2aafce
}

.bg-secundario {
    background-color: #2aafce
}

.partido-elemento {
    position: relative;
}

.icono-borrar-partido {
    position: absolute;
    left: -20px;
    cursor: pointer;
}

.light-backdrop {
    background-color: #ffffff40;
}

#flyer-node {
    display: grid;
    align-items: start;
    justify-content: start;
}

#flyer-node>* {
    grid-area: 1 / 1;
}