h3,
h4 {
    margin-bottom: 0;
}

.tamanio-fondo {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.font-tahoma {
    font-family: 'Tahoma Bold', Geneva, Verdana, sans-serif
}

.text-shadow {
    text-shadow: -3px 0px black;
}

.text-primario {
    color: #1d0d8c
}

.bg-primario {
    background-color: #1d0d8c;
}

.secundario {
    color: #2aafce
}

.bg-secundario {
    background-color: #2aafce
}

.partido-elemento {
    position: relative;
}

.icono-borrar-partido {
    position: absolute;
    left: -20px;
    cursor: pointer;
}

.light-backdrop {
    background-color: #ffffff40;
}