.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: -1;

    background-image: url("../../public/fondo-flyer-geba.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.9) blur(3px);
}